---
import ServicePage from "../../components/ServicePage.astro";

const title = "Alloygator Wheel Protection"
const description = "Protect your rims from curb damage with our AlloyGator Wheel Protectors. Mobile fitting available. All colours in stock. Qualified staff."
const bgImg = "url(/img/services/alloygator-wheel-protection.webp)"
const heading = "Alloygator Wheel Protection"
const tagline = "Prevent Curb Rash and Save Your Alloy Wheels From Scratches"
const mainHeading = "AlloyGator Rim Protectors"
const quoteForm = "normal"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description} quoteForm={quoteForm}>
    <p>Keep your alloys in mint condition with some Alloygator wheel protectors. These rim protectors are one of the most resilient on the market and are available in range of different colors such as blue, red, yellow and green! You can find out more on their official website: https://alloygator.com/uk/</p>
    <p>We provide a free mobile fitting service if you are located in our normal service area such as Poole, Bournemouth, Ringwood, Blandford or Wareham.</p>
</ServicePage>