---
import ServicePage from "../../components/ServicePage.astro";

const title = "Alloygator Wheel Protection"
const bgImg = "url(/img/services/alloygator-wheel-protection.jpeg)"
const heading = "Alloygator Wheel Protection"
const tagline = "Prevent Curb Rash and Save Your Alloy Wheels From Scratches"
const mainHeading = "AlloyGator Rim Protectors"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading}>
    <p>Keep your alloys in mint condition with some Alloygator wheel protectors. These rim protectors are one of the most resilient on the market and are available in range of different colors such as blue, red, yellow and green! You can find out more on their official website: https://alloygator.com/uk/</p>
    <p>We provide a free mobile fitting service if you are located in our normal service area such as Poole, Bournemouth, Ringwood, Blandford or Wareham.</p>
</ServicePage>