---
import ServicePage from "../../components/ServicePage.astro";

const title = "Locking Wheel Nut Removal"
const bgImg = "url(/img/services/locking-wheel-nut-removal.jpeg)"
const heading = "Locking Wheel Nut Removal"
const tagline = "Lost Or Broke Your Lock Nut Key? We Can Remove Them Today"
const mainHeading = "Mobile Locking Wheel Nut Removal"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading}>
    <p>Freeway Mobile Tyres are your local locking wheel nut removal specialists in Dorset. If you’ve got a damaged wheel nut key or lost your socket, we can remove your lockers with our universal tools. And, best of all, we can perform this service at your location for no extra cost. So if you’re stuck at home or the roadside, we can come to you!</p>
    <p>Our technicians can remove security wheel nuts on a wide range of car makes and models, as well as vans and caravans. We’re here seven days a week and offer same-day service if you need help urgently.</p>
</ServicePage>