---
import ServicePage from "../../components/ServicePage.astro";

const title = "Mobile Brake Fitting | Freeway Mobile Tyres"
const description = "Have your brake pads and discs fitted the easy way! Our expert technicians will come to you at home or work."
const bgImg = "url(/img/services/mobile-brake-fitting.webp)"
const heading = "Mobile Brake Fitting"
const tagline = "We Can Replace Your Brake Discs & Pads At Home!"
const mainHeading = "Mobile Brake Pad Replacement"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Change your brake pads the easy way with our mobile brake fitting service! Our technicians can come to you at home or work and replace your old brakes today. </p>
    <p>Your tyres and brakes are the most important components of your vehicle, so it’s vital they are in good condition. The moment you start hearing brake squeal or grinding, it’s time to change your car brakes. </p>
    <h2>Quality Brake Pads & Discs</h2>
    <p>When we replace your brake components, we only use quality parts. Your brakes are essential to you and your families safety, so fitting good quality hardware is essential. All of our parts come with a manufacturer warranty built in at no extra cost.</p>
    <h2>Free Brake Safety Check</h2>
    <p>If you’re not sure about the condition of your brakes, we can send one of our technicians to your location to check them for free. If you don’t live locally then you can still have your brakes checked, but you will need to visit our depot in Poole. Contact us today for more information and to book your free brake check.</p>

</ServicePage>