---
import ServicePage from "../../components/ServicePage.astro";

const title = "Tyre Pressure Monitoring System"
const description = "We can replace faulty TPMS sensors at your location. Our technicians can programme TPMS for all car makes & models."
const bgImg = "url(/img/services/tyre-pressure-monitoring-system.jpeg)"
const heading = "Tyre Pressure Monitoring System"
const tagline = "We Programme & Install New Tyre Sensors"
const mainHeading = "Your Local TPMS Specialists In Dorset"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Since late 2014, all new cars must have a tyre pressure monitoring system (TPMS) built into the vehicle. The TPMS sensors are designed to keep track of your tyre pressures and alert you with a warning on your dashboard when the pressure drops.</p>
    <p>However, these tyre pressure sensors have a life span of six to eight years, meaning that you will need to replace your tyre sensors from time to time.</p>
    <p>Our TPMS specialists will be able to replace your faulty tyre sensors at your location with our mobile service. We cover many areas of Dorset, including Poole and Bournemouth.</p>
</ServicePage>