---
import ServicePage from "../../components/ServicePage.astro";

const title = "Tyre Pressure Monitoring System"
const description = "We can replace faulty TPMS sensors at your location. Our technicians can programme TPMS for all car makes & models."
const bgImg = "url(/img/services/tyre-pressure-monitoring-system.webp)"
const heading = "Tyre Pressure Monitoring System"
const tagline = "We Programme & Install New Tyre Sensors"
const mainHeading = "Your Local TPMS Specialists In Dorset"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Since late 2014, all new cars must have a tyre pressure monitoring system (TPMS) built into the vehicle. The TPMS sensors are designed to keep track of your tyre pressures and alert you with a warning on your dashboard when the pressure drops.</p>
    <p>However, these tyre pressure sensors have a life span of six to eight years, meaning that you will need to replace your tyre sensors from time to time.</p>
    <p>Our TPMS specialists will be able to replace your faulty tyre sensors at your location with our mobile service. We cover many areas of Dorset, including Poole and Bournemouth.</p>
    <h2>What Does a TPMS Warning Light Mean?</h2>
    <p>If you have a tyre pressure warning light on your dashboard then it’s highly likely you have a puncture on one of your car tyres. However, if the warning light is flashing when you first start your vehicle, then you have a faulty TPMS sensor which will need replacing.</p>
    <p>If you have a warning light, but your pressures are fine, then you will need to reset your TPMS system. You will be able to find out how to do this in your vehicle handbook.</p>
    <h2>Why Use Freeway Mobile Tyres?</h2>
    <ul>
        <li>We provide same day fitting at no extra cost.</li>
        <li>Our tyre fitters are IMI qualified in Tyre Pressure Monitoring Systems.</li>
        <li>We stock a wide range TPMS sensors and fitting kits to accommodate for all car makes and models.</li>
        <li>Appointments are available seven days a week.</li>
        <li>Our tyre pressure sensors come with a free two-year warranty.</li>
        <li>We can fit TPMS sensors to cars, vans, caravans and motorhomes.</li>
        <li>Free mobile fitting across many areas of Dorset.</li>
        <li>We’re a local father and son business based in Poole, Dorset.</li>
    </ul>
</ServicePage>