---
import ServicePage from "../../components/ServicePage.astro";

const title = "Vehicle Recovery"
const description = "We provide a fast response roadside breakdown recovery service across Dorset and surrounding areas. Call now."
const bgImg = "url(/img/services/vehicle-recovery.webp)"
const heading = "Roadside Breakdown"
const tagline = "Car Broken Down? We'll Recover You In No Time!"
const mainHeading = "Vehicle Recovery Service In Dorset"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Are you stuck at the side of the road with a broken down car? We can recover to you to a local garage quickly and safely with our fast response vehicle breakdown service.</p>
    <p>Our team of experienced technicians are available 7 days a week to help you in the event of a roadside breakdown. Not only do we offer a recovery service, but we also have a fleet of vans that are capable of replacing tyres, batteries and brakes.</p>
    <p>If you would like a price for our recovery service or need help ASAP then call us now on 0800 7311 260.</p>
</ServicePage>