---
import ServicePage from "../../components/ServicePage.astro";

const title = "Wheel Alignment"
const description = "Save fuel and increase the life of your tyres with a wheel alignment. Contact us today to book an appointment."
const bgImg = "url(/img/services/wheel-alignment.webp)"
const heading = "Wheel Alignment"
const tagline = "Increase Tyre Life, Reduce Fuel Consumption and Improve Handling"
const mainHeading = "Front Wheel Tracking"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Having your front wheels aligned is one of the best ways to ensure you get as much value out of your new tyres as possible. The front ‘toe’ of your car is an important factor when it comes to how much fuel your car uses, how the car handles, and how the tyres will wear.</p>
    <p>A front wheel tracking only costs around £30 and yet it could save you hundreds of pounds over the course of 2 to 3 years. We provide a wheel alignment service to our customers, and we offer a free tracking check when you buy two or more new tyres.</p>
</ServicePage>