---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro";
import Testimonials from "./Testimonials.astro";
import CTA from "../components/CTA.astro";
import AsideCards from "../components/AsideCards.astro";

export interface Props {
    city: string,
}

const { city } = Astro.props;
---

<Layout title={`Mobile Tyre Fitting | ${city} | Freeway Mobile Tyres`} noindex={false} description={`"Are you stuck with a flat tyre in ${city}? Our mobile tyre fitting can come to you at home or roadside today! Get a quote now."`}>
    <Hero bgImg="url(/img/services/mobile-tyre-fitting.webp)" heading={`Mobile Tyre Fitting In ${city}`} tagline="We Come To You At Home, Work Or Roadside"/>
    <main class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1 class="text-center text-lg-start">Mobile Tyre Fitting In {city}</h1>
                    <p>Are you stuck with a flat tyre in {city}? Perhaps your tyres are bald but you don’t have the time to go to a garage? Why not try our convenient mobile tyre fitting service! We can come to you at home or roadside and replace your tyres today.</p>
                    <h2>Never Used A Mobile Tyre Service Before?</h2>
                    <p>If you’ve never used a mobile tyre service before, you’re in for a treat!</p>
                    <p>By having your tyres fitted at home, you can spend your free time doing the things that you enjoy, whether that’s watching TV, studying for a course, or playing with the kids.</p>
                    <p>It’s so much better than sitting in a boring waiting room for hours on end.</p>
                    <h2>Why Choose Freeway Mobile Tyres</h2>
                    <p>With so many tyre companies in {city}, why should you choose Freeway Mobile Tyres above the rest?</p>
                    <ul>
                        <li>Our mobile tyre fitters are available 7 days a week.</li>
                        <li>We provide free same day fitting across Dorset.</li>
                        <li>You can have your tyres fitted at home, work or roadside.</li>
                        <li>We are one of Dorset’s fastest mobile tyre services, with an average arrival time of just 60 minutes!</li>
                        <li>Our tyre fitters are highly experienced and can change tyres on a wide range of vehicles including cars, vans, caravans and trailers.</li>
                        <li>If you get stuck with a flat tyre late at night, we provide an out-of-hours callout service.</li>
                    </ul>
                    <h2>Get A Quote For Tyres In {city}</h2>
                    <p>If you live in {city} and would like a quote for our mobile tyre fitting service, get in touch with us today on 0800 7311260.</p>
                </div>
                <div class="col-12 col-lg-4">
                    <AsideCards />
                </div>
            </div>
        </div>
    </main>
    <Testimonials />
    <CTA />
</Layout>
