---
import ServicePage from "../../components/ServicePage.astro";

const title = "Emergency Mobile Tyre Fitting"
const description = "We provide a 24 hour mobile tyre fitting service across many areas of Dorset. Our fitters will come to you at home or roadside in 60 minutes."
const bgImg = "url(/img/services/same-day-mobile-tyre-fitting.webp)"
const heading = "Emergency Mobile Tyre Fitting"
const tagline = "Stuck With A Flat Tyre? We'll Get You Back On The Road In 60 Minutes"
const mainHeading = "Roadside Tyre Service In Dorset"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>A flat tyre can happen at the worst possible moment. You may be on your way to work or picking the kids up from school when suddenly you have a tyre blowout. Fortunately, we provide an out-of-hours mobile tyre-fitting service across many areas of Dorset.</p>
    <p>Our goal is to get you back on the road as quickly as possible, and in most cases, we can arrive at your location in less than 60 minutes.</p>
    <p>With hundreds of new tyres in stock in a wide range of sizes, you can be confident we’ll have the right tyre for your vehicle!</p>
    <h2>Why Use Us?</h2>
    <p>If you need roadside tyre assistance late at night, we can help!</p>
    <ul>
        <li>Our mobile tyre fitters are available seven days a week.</li>
        <li>We cover many areas of Dorset, including Poole & Bournemouth.</li>
        <li>With an average arrival time of 45 minutes, we are one of Dorset’s fastest emergency mobile tyre services.</li>
        <li>We employ highly experienced tyre fitters who have been in the tyre trade for several years.</li>
        <li>We can fit your tyres at home, work or roadside.</li>
        <li>Our fully equipped tyre vans can fit tyres to cars, vans, 4x4s and caravans.</li>
        <li>We stock hundreds of tyre sizes to suit a wide range of vehicles.</li>
    </ul>
    <h2>How To Book</h2>
    <p>Our emergency mobile tyre service is just a phone call away. However, before you get in touch it’s important you have the following information available so we can get you a quote:</p>
    <ul>
        <li>Your tyre size</li>
        <li>The vehicle location</li>
        <li>Locking wheel nut key</li>
    </ul>
</ServicePage>