---
import ServicePage from "../../components/ServicePage.astro";

const title = "Emergency Mobile Tyre Fitting"
const description = "We provide a 24 hour mobile tyre fitting service across many areas of Dorset. Our fitters will come to you at home or roadside in 60 minutes."
const bgImg = "url(/img/services/same-day-mobile-tyre-fitting.jpeg)"
const heading = "Emergency Mobile Tyre Fitting"
const tagline = "Stuck With A Flat Tyre? We'll Get You Back On The Road In 60 Minutes"
const mainHeading = "Emergency Tyre Fitting In Dorset"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>A flat tyre can happen at the worst possible moment. You may be on your way to work or picking the kids up from school when suddenly you have a tyre blowout. Fortunately, we provide an out-of-hours mobile tyre-fitting service across many areas of Dorset.</p>
    <p>Our goal is to get you back on the road as quickly as possible, and in most cases, we can arrive at your location in less than 60 minutes.</p>
    <p>With hundreds of new tyres in stock in a wide range of sizes, you can be confident we’ll have the right tyre for your vehicle!</p>
</ServicePage>