---
import ServicePage from "../../components/ServicePage.astro";

const title = "Mobile Tyre Fitting | Dorset"
const description = ""
const bgImg = "url(/img/services/mobile-tyre-fitting.jpeg)"
const heading = "Mobile Tyre Fitting"
const tagline = "Have Your Tyres Fitted at Home, Work, or Roadside Today"
const mainHeading = "Mobile Tyre Fitting At Home Or Work"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Changing your tyres can be a time-consuming process, but with our convenient mobile tyre-fitting service, you can have your tyres fitted at home.</p>
    <p>Freeway Mobile Tyres is one of Dorset’s leading mobile car tyre-fitting service. With free same-day fitting and seven-day service, our experienced technicians will get you back on the road in no time.</p>
    <p>Our Poole and Shaftesbury depots have hundreds of tyre sizes in stock, with various brands to suit your driving needs.</p>
</ServicePage>