---
import ServicePage from "../../components/ServicePage.astro";

const title = "Mobile Tyre Fitting | Dorset"
const description = "Change your car tyres at home with our mobile tyre fitting service. We cover many areas of Dorset such as Poole & Bournemouth."
const bgImg = "url(/img/services/mobile-tyre-fitting.webp)"
const heading = "Mobile Tyre Fitting"
const tagline = "Have Your Tyres Fitted at Home, Work, or Roadside Today"
const mainHeading = "Mobile Tyre Fitting At Home Or Work"
const quoteForm = "normal"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description} quoteForm={quoteForm}>
    <p>Changing your tyres can be a time-consuming process, but with our convenient mobile tyre-fitting service, you can have your tyres fitted at home.</p>
    <p>Freeway Mobile Tyres is one of Dorset’s leading mobile car tyre-fitting service. With free same-day fitting and seven-day service, our experienced technicians will get you back on the road in no time.</p>
    <p>Our Poole and Shaftesbury depots have hundreds of tyre sizes in stock, with various brands to suit your driving needs.</p>
    <h2>What Is Mobile Tyre Fitting?</h2>
    <p>Mobile tyre fitting allows you to have your tyres changed in the comfort of your own home. There’s no need to travel to and from a garage. We’ll come to you at a time and place that suits your schedule.</p>
    <p>To have your tyres fitted at home, all our fitters need is some space around the vehicle and your locking wheel nut key – that’s it! There’s no hassle. No fuss. And no sitting in waiting rooms!</p>
    <h2>What's Included?</h2>
    <p>When you get a quote for our mobile service, the price will include:</p>
    <ul>
        <li>Wheel balancing</li>
        <li>Rubber valve replacement</li>
        <li>Mobile fitting</li>
        <li>Casing disposal</li>
        <li>And of course, the tyre itself</li>
    </ul>
    <!-- <h2>Why Use Us?</h2>
    <p>There are many benefits to using our mobile tyre fitting service, such as:</p>
    <ul>
        <li>We provide same-day fitting at no extra cost.</li>
        <li>Our depots have hundreds of tyre sizes in stock.</li>
        <li>We offer Dorset-wide coverage with our mobile service.</li>
        <li>Appointments are available seven days a week.</li>
        <li>We employ highly experienced tyre fitters who have been in the tyre trade for several years.</li>
        <li>We can fit your tyres at home, work or roadside.</li>
        <li>Our fully equipped tyre vans can fit tyres to cars, vans, 4x4s and caravans.</li>
        <li>Out-of-hours and out-of-area service available.</li>
        <li>We’re a local father and son tyre company based in Poole, Dorset.</li>
    </ul>
    <h2>How To Book</h2>
    <p>The process to book your mobile tyre-fitting service is simple:</p>
    <ol>
        <li>Get in touch with us via phone or through our contact form for a quote. We’ll need to know a few details such as your tyre size, how many tyres you need to change, your location, and if you want a specific brand.</li>
        <li>If you’re happy with the price, then the next step is to let us know a time and date that suits you best. Remember, we are open seven days a week and provide same-day fitting, so if you do need your tyre replaced today, just let us know.</li>
        <li>Upon the day of fitting, our fitter will contact you to let you know when he’s on his way so that you can get your car ready for his arrival.</li>
        <li>Once he’s arrived, all he’ll need is your car keys and your locking wheel nut. He’ll take care of the rest.</li>
        <li>As soon as we’ve fit your tyres, our technician will return your keys and locker to you. You will then be able to pay him by cash or card.</li>
    </ol> -->
</ServicePage>