---
import ServicePage from "../../components/ServicePage.astro";

const title = "Mobile Tyre Fitting | Dorset"
const description = "Freeway Mobile Tyres offers on-demand mobile tyre fitting services in Dorset, including Poole and Bournemouth. Change your car tyres at home with our expert team. Contact us today to schedule an appointment."
const bgImg = "url(/img/services/mobile-tyre-fitting.webp)"
const heading = "Mobile Tyre Fitting"
const tagline = "Have Your Tyres Fitted at Home, Work, or Roadside Today"
const mainHeading = "Mobile Tyre Fitting At Home Or Work"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Changing your tyres can be a time-consuming process, but with our convenient mobile tyre-fitting service, you can have your tyres fitted at home.</p>
    <p>Freeway Mobile Tyres is one of Dorset’s leading mobile car tyre-fitting service. With free same-day fitting and seven-day service, our experienced technicians will get you back on the road in no time.</p>
    <p>Our Poole and Shaftesbury depots have hundreds of tyre sizes in stock, with various brands to suit your driving needs.</p>
    <h2>What Is Mobile Tyre Fitting?</h2>
    <p>Mobile tyre fitting allows you to have your tyres changed in the comfort of your own home. There’s no need to travel to and from a garage. We’ll come to you at a time and place that suits your schedule.</p>
    <p>To have your tyres fitted at home, all our fitters need is some space around the vehicle and your locking wheel nut key – that’s it! There’s no hassle. No fuss. And no sitting in waiting rooms!</p>
    <h2>What's Included?</h2>
    <p>When you get a quote for our mobile service, the price will include:</p>
    <ul>
        <li>Wheel balancing</li>
        <li>Rubber valve replacement</li>
        <li>Mobile fitting</li>
        <li>Casing disposal</li>
        <li>And of course, the tyre itself</li>
    </ul>
   
</ServicePage>