---
import ServicePage from "../../components/ServicePage.astro";

const title = "Mobile Caravan Tyre Fitting"
const description = "Have your caravan tyres fitted at home with our mobile tyre service. We come to you at home or on-site. Contact us today for a quote."
const bgImg = "url(/img/services/mobile-caravan-tyre-fitting.webp)"
const heading = "Mobile Caravan Tyre Fitting"
const tagline = "Have Your Caravan Tyres Fitted at Home or On-Site"
const mainHeading = "Caravan & Motorhome Tyres Fitted Mobile"
const quoteForm = "normal"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description} quoteForm={quoteForm}>
    <p>Freeway Mobile Tyres are your local mobile tyre-fitting experts for caravans and motorhomes in Dorset. We provide a professional and convenient caravan tyre fitting service at your location, whether that’s at home or on-site.</p>
    <p>With free same-day fitting and a seven-day service, you can have your old tyres replaced at a time and place that suits you.</p>
    <!-- <h2>Why Use Us?</h2>
    <p>With so many mobile tyre fitters in Dorset, why should you choose us above the rest?</p>
    <ul>
        <li>Same day fitting at no extra cost</li>
        <li>Caravan and motorhome tyre specialists</li>
        <li>Hundreds of tyre sizes in stock for caravans</li>
        <li>Dorset-wide coverage with our mobile service</li>
        <li>Appointments available seven days a week</li>
        <li>Experienced and friendly fitters</li>
        <li>Trustworthy and reliable business</li>
        <li>Fully equipped vans to fit Tyron safety bands</li>
        <li>Local father & son company based in Poole, Dorset</li>
    </ul> -->
    <h2>What Is Mobile Caravan Tyre Fitting?</h2>
    <p>If you’ve never used a mobile tyre service before, you’ll be pleased to know that it’s a simple process. First, you’ll need to contact our team via phone or use our contact form to receive a quote.</p>
    <p>Once you’ve got a quote, you can let us know where and when you’d like us to fit your new caravan tyres. We provide same-day fitting if you need to replace your tyres urgently.</p>
    <p>On the day of fitting, a team member will be in touch to let you know when our technician is on his way. If your caravan is in storage or on-site, we can still replace your tyres without you having to be there; however, we’ll need to take payment in advance for this service.</p>
    <p>Our technicians will then change your tyres safely and efficiently upon arrival, with the tyres set to the correct pressure and wheel bolts torqued to manufacturer specifications.</p>
    <p>At the end of the service, you can then pay for your tyres by cash or card. Our fitters carry portable card machines on-board that accept both Visa Debit and MasterCard.</p>
</ServicePage>