---
import ServicePage from "../../components/ServicePage.astro";

const title = "Mobile Caravan Tyre Fitting"
const description = "Have your caravan tyres fitted at home with our mobile tyre service. We come to you at home or on-site. Contact us today for a quote."
const bgImg = "url(/img/services/mobile-caravan-tyre-fitting.jpeg)"
const heading = "Mobile Caravan Tyre Fitting"
const tagline = "Have Your Caravan Tyres Fitted at Home or On-Site"
const mainHeading = "Caravan & Motorhome Tyres Fitted Mobile"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Freeway Mobile Tyres are your local mobile tyre-fitting experts for caravans and motorhomes in Dorset. We provide a professional and convenient caravan tyre fitting service at your location, whether that’s at home or on-site.</p>
    <p>With free same-day fitting and a seven-day service, you can have your old tyres replaced at a time and place that suits you.</p>
</ServicePage>