---
import ServicePage from "../../components/ServicePage.astro";

const title = "Puncture Repair"
const description = "Have your flat tyre fixed at home with our mobile puncture repair service. Poole & Bournemouth areas covered. Call now for a quote."
const bgImg = "url(/img/services/puncture-repair.webp)"
const heading = "Puncture Repair"
const tagline = "Have Your Flat Tyre Fixed at Home Today"
const mainHeading = "Mobile Car Puncture Repair"
const quoteForm = "size"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description} quoteForm={quoteForm}>
    <p>Have you got a flat tyre on your car and need it fixed ASAP? Well, with our convenient mobile tyre repair service, you can have your puncture fixed whilst in the comfort of your own home.</p>
    <p>Our experienced tyre fitters can repair punctures on a wide range of vehicles, including cars, vans, caravans, and trailers. We provide same day service at no extra cost, and our tyre vans are available seven days a week.</p>
    <!-- <h2>Why Use Us?</h2>
    <p>There are many benefits to using our mobile tyre repair service, including:</p>
    <ul>
        <li>Same day service if you need your flat tyre fixed today.</li>
        <li>Hundreds of tyres in stock in the event we can’t repair the tyre.</li>
        <li>All our puncture repairs are performed to strict British standards (BSAU159) to ensure they are 100% safe and roadworthy.</li>
        <li>Appointments are available seven days a week.</li>
        <li>Coverage across areas of Poole & Bournemouth.</li>
        <li>Experienced and friendly tyre fitters.</li>
        <li>We can come to you at home, work or the roadside.</li>
        <li>Our fully equipped tyre vans can repair tyres on cars, vans, 4x4s and caravans.</li>
        <li>Local father and son business based in Poole, Dorset.</li>
    </ul> -->
    <h2>The Tyre Repair Process</h2>
    <p>To fix your tyre safely and effectively, we go through several stages before and during the repair process:</p>
    <ul>
        <li>Firstly, we check to ensure that the puncture cause is in a repairable position on the tyre and that the hole is no more than 6mm in diameter.</li>
        <li>Next, we remove the tyre and check there is no sidewall damage. Driving on a flat tyre for some time can cause this and make the tyre unrepairable.</li>
        <li>If the puncture is repairable and the sidewall is intact, then we can start the repair process.</li>
        <li>We’ll drill out the puncture area with a 6mm carbide bit to pull the repair stem through later on.</li>
        <li>Next, we buff down the surrounding area inside the tyre until it’s smooth.</li>
        <li>Once buffed, we apply fast-acting vulcanising glue to the site and wait for it to dry.</li>
        <li>After a minute or so, we’ll pull the repair stem through the hole and stitch down the patch to ensure it remains in place.</li>
        <li>At this stage, we’ll replace the removed rubber with an inner liner sealer.</li>
        <li>To finish off, we’ll then replace the rubber valve and clean up the rim before reinstalling the repaired tyre.</li>
    </ul>
</ServicePage>