---
import ServicePage from "../../components/ServicePage.astro";

const title = "Puncture Repair"
const description = ""
const bgImg = "url(/img/services/puncture-repair.jpeg)"
const heading = "Puncture Repair"
const tagline = "Have Your Flat Tyre Fixed at Home Today"
const mainHeading = "Mobile Car Puncture Repair"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>Have you got a flat tyre on your car and need it fixed ASAP? Well, with our convenient mobile tyre repair service, you can have your puncture fixed whilst in the comfort of your own home.</p>
    <p>Our experienced tyre fitters can repair punctures on a wide range of vehicles, including cars, vans, caravans, and trailers. We provide same day service at no extra cost, and our tyre vans are available seven days a week.</p>
</ServicePage>