---
import ServicePage from "../../components/ServicePage.astro";

const title = "Seasonal Refit"
const description = "Have your summer and winter tyres swapped at home or work with our convenient mobile service. Dorset areas covered."
const bgImg = "url(/img/services/seasonal-refit.webp)"
const heading = "Seasonal Refit"
const tagline = "We Can Swap Your Summer And Winter Tyres At Your Location"
const mainHeading = "Winter & Summer Tyre Swap"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description}>
    <p>At Freeway Mobile Tyres, we understand the importance of having the right tyres for the time of year. Driving on the wrong type of tyre can be dangerous and compromise your safety on the road. With our seasonal refit service, we make it easy and convenient for you to have your tyres changed every six months.</p>
    <p>Our service is ideal for those who need to travel all year round and appreciate the convenience of having their tyres changed in a hassle-free and simple way. Our experienced technicians will ensure that your tyres are fitted correctly and balanced for optimal performance.</p>
    <h2>Convenient Mobile Service</h2>
    <p>Our mobile tyre fitting vans are fully equipped to change tyres on a wide range of vehicles, including cars, vans, and caravans. We come to you, wherever you are in Dorset, and swap your tyres over at a time and place that suits you. This means that you don't have to waste time travelling to a garage or workshop, and you can carry on with your day while we take care of the rest.</p>
    <h2>Competitive Pricing</h2>
    <p>We believe that everyone deserves high-quality service at a fair price. Our seasonal refit service starts from just £60 for all four wheels, including removal, fitting, and balancing of your tyres. We offer transparent and competitive pricing with no hidden costs, so you can trust us to provide the best value for your money.</p>
    <h2>Expert Advice and Recommendations</h2>
    <p>Not sure which tyres are best for the time of year? Our team of experts can provide you with professional advice and recommendations to ensure that you have the right tyres for the season. We stock a wide range of tyres from top brands, so you can trust us to provide the best options for your vehicle and budget.</p>
    <h2>Book Your Seasonal Refit Today</h2>
    <p>Don't compromise on your safety and performance on the road. Contact us today to book your seasonal refit and enjoy the convenience of having your tyres changed at your doorstep. We're here to make the process as easy and hassle-free as possible for you.</p>
</ServicePage>