---
import ServicePage from "../../components/ServicePage.astro";

const title = "Seasonal Refit"
const description = "Have your summer and winter tyres swapped at home or work with our convenient mobile service. Dorset areas covered."
const bgImg = "url(/img/services/seasonal-refit.webp)"
const heading = "Seasonal Refit"
const tagline = "We Can Swap Your Summer And Winter Tyres At Your Location"
const mainHeading = "Winter & Summer Tyre Swap"
const quoteForm = "normal"
---

<ServicePage bgImg={bgImg} title={title} heading={heading} tagline={tagline} mainHeading={mainHeading} description={description} quoteForm={quoteForm}>
    <p>Have your winter and summer tyres rotated every 6 months with our seasonal refit service. We can come to you at home or work and swap your tyres over at a time and place that suits you. </p>
    <p>Our mobile tyre fitting vans are fully equipped to change tyres on a wide range of vehicles including cars and vans. We also cover many areas of Dorset including Poole, Bournemouth, Blandford Forum and Shaftesbury.</p>
    <p>Our seasonal refit service starts from as little as £60 for all four wheels. Contact our team today for an exact quote.</p>
</ServicePage>